@model IEnumerable<GLPI_MySQL.Models.User>

<h2> Generator protokołów</h2>
<br />

<form asp-controller="Docs" asp-action="Index" method="get">
    <p>
        <b>Search by:</b>
        @Html.RadioButton("searchBy", "Firstname", true) <text>Imię</text>
        @Html.RadioButton("searchBy", "Realname", true) <text>Nazwisko</text>
        <br />
        <input type="text" name="search" />
        <input type="submit" value="Filter" />

        <a style="margin-right: 10px;" asp-action="EquipmentReport" asp-controller="Docs" role="button" class="btn btn-primary pull-right">

            <span class="glyphicon glyphicon-cloud-download"></span>
            Lista sprzętu
        </a>
    </p>
</form>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Realname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Realname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td class="text-center">
                    <form asp-controller="Docs" asp-action="Index" method="post">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Wykaz sprzętu</a>
                        <input type="submit" class="btn btn-primary" value="Protokół przekazania" asp-action="HandoverIndex" asp-route-id="@item.Id" />
                        <input type="submit" class="btn btn-primary" value="Protokół zdania" asp-action="ReturnIndex" asp-route-id="@item.Id" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>