@model IEnumerable<GLPI_MySQL.Models.User>

@using (Html.BeginForm("Index", "Docs", FormMethod.Get))
{
    <b>Search by:</b>
    @Html.RadioButton("searchBy", "Firstname", true) <text>FirstName</text>
    @Html.RadioButton("searchBy", "Realname", true) <text>Realname</text>
    <br />
    @Html.TextBox("search") <input type="submit" value="Search" />



<table border="1">
    <tr>
        <th>
            Firstname
        </th>
        <th>
            Lastname
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Firstname
            </td>
            <td>
                @item.Realname
            </td>
        </tr>
    }

</table>

}