@model IEnumerable<GLPI_MySQL.Models.Computer>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in Model)
{
    <table>
        <tr>
            <td>@item.Id</td>
            <td>@item.Firstname</td>
            <td>@item.Realname</td>
            <td>@item.Type</td>
            <td>@item.Producer</td>
            <td>@item.Code</td>
            
        </tr>
    </table>
}