@model IEnumerable<GLPI_MySQL.Models.PhoneNumber>

<h2> Spis telefonów pracowników GRECOS</h2>
<br />

<form asp-controller="Phones" asp-action="Index" method="get">
    <p>
        <b>Search by:</b>
        @Html.RadioButton("searchBy", "Firstname", true) <text>Imię</text>
        @Html.RadioButton("searchBy", "Realname", true) <text>Nazwisko</text>
        <br />
        <input type="text" name="search" />
        <input type="submit" value="Filter" />

        @* <a style="margin-right: 10px;" href="@Url.Action("PhoneReport", "Phones")" role="button" class="btn btn-primary pull-right">*@
        <a style="margin-right: 10px;" asp-action="PhoneReport" asp-controller="Phones" role="button" class="btn btn-primary pull-right">

            <span class="glyphicon glyphicon-cloud-download"></span>
            Lista numerów
        </a>
    </p>
</form>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Realname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Realname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
        </tr>
        }
    </tbody>
